* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif
}




.container {
    width: 100%;
    height: 100vh;
    background: #204d6a;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 30px;


    @media screen and (max-width:630px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;

    }

    .box-login {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        background: #2c6c8f;
        color: white;
        padding: 40px;
        border-radius: 25px;
        border: 10px solid #215a78;


        .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;


            h1 {
                font-size: 50px;
                color: #FE7D00;

                span {
                    color: #1ba7e0;
                }
            }

            p {


                position: relative;
                top: -35px;
            }
        }

        h1 {
            padding-bottom: 20px;

        }

        .user-password {
            padding: 8px;

            display: flex;
            align-items: center;

            div {
                margin-right: 10px;
                width: 70px;
            }

            input {
                border-radius: 25px;
                border: 0;
                height: 30px;
                width: 250px;
            }
        }

        .forgot {
            padding-top: 5px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .check-box {
                display: flex;
                flex-direction: row;
                margin-right: 10px;

                input {
                    margin-right: 5px;
                    border-radius: 10px;
                }
            }

        }


        button {
            width: 150px;
            padding: 5px;
            margin: 40px;
            border: 1px solid red;
            font-weight: 900;
            border-radius: 20px;


        }

    }

    @media screen and (max-width:500px) {
        padding: 10px;

        .box-login {
            max-width: 350px;
            padding: 20px;

            .user-password {
                padding: 4px;

                div {
                    margin-right: 2px;

                }

                input {
                    width: 150px;
                }
            }

        }

    }

    @media screen and (max-width:300px) {
        padding: 0;

        .box-login {
            max-width: 300px;
            padding: 20px;

            .user-password {
                padding: 2px;

                div {
                    margin-right: 2px;
                }
            }

        }




    }



}

// .arrow-right {
//     width: 0;
//     height: 0;
//     border-top: 360px solid transparent;
//     border-bottom: 360px solid transparent;

//     border-left: 440px solid green;
// }




// fax.jsx page scss

.fax-container {
    background: #204d6a;
    padding: 0 .5rem 1.5rem;
    // height: 100vh;

    .fax-box {
        font-family: Calibri, sans-serif;
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 .5rem;

        .fax-user {

            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                padding-left: 2rem;

                @media screen and (max-width:450px) {
                    display: none;

                }
            }

            i {
                @media screen and (max-width:450px) {
                    display: none;

                }
            }

            .user-icon {
                display: flex;
                align-items: center;
                padding-left: 2rem;

                i {
                    padding-right: .4rem;
                }

                p {
                    padding: 0;
                }

                @media screen and (max-width:750px) {
                    display: none;

                }




            }

            .ocr-status-check {
                display: flex;
                @extend p;

                input {
                    width: 100px;
                    border-radius: 25px;
                    margin-left: 1px;
                }

                @media screen and (max-width:1250px) {
                    display: none;

                }
            }

        }

        .titile {
            color: #FE7D00;


        }

        .fax-data {

            display: flex;
            align-items: center;
            justify-content: space-between;

            .user-icon {
                display: flex;
                align-items: center;
                padding-left: 2rem;

                i {
                    padding: 0 .5rem;
                }
            }

            .heading {
                display: block;
                padding-left: 2rem;

                align-items: center;
                position: relative;
                text-align: end;


                h1 {
                    padding-top: .4rem;
                    font-size: 30px;
                    color: #FE7D00;
                    padding-right: .7rem;

                    span {
                        color: #1ba7e0;
                    }
                }

                p {
                    position: relative;
                    top: -9px;
                    font-size: 10PX;
                    text-align: center;
                }
            }

            .one {
                @media screen and (max-width:1020px) {
                    display: none;

                }

            }

            .two {
                @media screen and (max-width:1020px) {
                    display: none;

                }

            }

            .list {
                @media screen and (max-width:750px) {
                    display: none;

                }
            }

            .log-out {
                @media screen and (max-width:350px) {
                    display: none;

                }
            }

        }





    }
}


// FAX-TABLE JSX PAGE


.table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;



    th {
        padding: 12px 15px;
        text-align: center;
        font-size: 16px;
        background-color: #C7DDE8;
        color: #3E5D71;
        border: 1px solid #ddd;

    }

    td {
        padding: 7px 15px;
        text-align: center;
        font-size: 16px;
        border: 1px solid #ddd;
    }


    tbody tr:nth-child(even) {
        background-color: #d9d7d7;
        border: 1px solid #ddd;

    }

    @media screen and (max-width:850px) {

        thead {
            display: none;
        }

        tbody,
        tr,
        td {
            display: block;
            width: 100%;
        }

        tr {
            margin-bottom: 15px;
        }

        td {
            text-align: right;
            padding-left: 50%;
            text-align: right;
            position: relative;
            padding-right: 3rem;

            &::before {
                content: attr(data-label);
                position: absolute;
                left: 0;
                width: 50%;
                text-align: left;
                padding-left: 3rem;
            }
        }


    }

}